@import '../socials_bar/socials_bar'

.post-container
	margin-top 165px
	.post-inner-container
		background-color #fff
		padding 40px
		.post-wrapper
			
			border 1px solid $light-gold
			@extend .blog-wrapper .main-posts-wrapper
			.post
				margin 20px
						
				&__title
					font-size 32px
					font-weight 600
					color $gold
				&__date
					margin-bottom 30px
				&__info
					&--image
						width 100%
						height auto
					&--text
						p
							text-indent 20px
							font-size 18px
							color $light-gray
							margin-top 25px
							&:first-of-type
								text-indent 0
							
	
			