.user	
	.order-form 
		display flex
		flex-wrap wrap
		justify-content space-around
		position relative
		padding-bottom 40px
		@extends .form-wrapper .row .login-form
		&__form-control
			line-height 38px
			border-radius 0
			font-size 16px
			font-family Arial
			border 2px solid $dark-gray
		.info-row, .destination-row, .note-row
			display inline
			width calc(100%  / 3 - 2.5%)
			float left
			margin-right 3.75%
			.heading
				color $gold
				font-size 24px
				margin-bottom 10px
				margin-top 17px
		
		.note-row
			margin-right 0
			
				
			.headings-row
				display flex
				justify-content space-around
				flex-wrap wrap
				&__heading
					@extend .heading
					color $gold
					text-align center
					float left
					font-size 19px
					input:focus
						outline none
			// .heading
			// 	margin-bottom 50px
					
			textarea
				
				margin-top -2px
				resize none
				height 115px
				overflow hidden
				border 2px solid $dark-gray
				
		.action-btn
			position absolute
			right 0
			bottom -10px
			display inline-block
			float right
			width auto
			padding-left 10px
			padding-right 10px
			
@media(max-width 1199px)
	
		.user
			.order-form
				justify-content flex-start
				.info-row, .destination-row, .note-row
					width 47.5%
					margin-right 0
				.info-row
					margin-right 5%	
					
@media(max-width 799px)
	.user
		.order-form
			.note-row
				.headings-row
					&__heading
						margin-top 10px

				
@media(max-width 640px)
	
		.user
			padding-bottom 65px
			.order-form
				justify-content flex-start
				.info-row, .destination-row, .note-row
					width 100%
					margin-right 0
				.action-btn
					bottom -65px

