<div class="app-figure" id="zoom-fig">
		a(id="Zoom-1" class="MagicZoom"  data-options="zoomPosition: inner;" title="Show your product in stunning detail with Magic Zoom." href="https://magictoolbox.sirv.com/images/magiczoomplus/jeans-1-z.jpg")
			img(src="https://magictoolbox.sirv.com/images/magiczoomplus/jeans-1-z.jpg?scale.height=400" alt="")
		div.selectors
			a(data-zoom-id="Zoom-1" href="https://magictoolbox.sirv.com/images/magiczoomplus/jeans-1-z.jpg" data-image="https://magictoolbox.sirv.com/images/magiczoomplus/jeans-1-z.jpg?scale.height=400")
				img(srcset="https://magictoolbox.sirv.com/images/magiczoomplus/jeans-1-z.jpg?scale.width=112 2x" src="https://magictoolbox.sirv.com/images/magiczoomplus/jeans-1-z.jpg?scale.width=56")
			a(data-zoom-id="Zoom-1" href=image data-image=image+"?scale.height=400")
				img(srcset=image+"?scale.width=112 2x" src=image+"?scale.width=56")