include /mixins/main_mixins
.row
	+b.partnership-wrapper
		+e.H3.heading Заполните свои реквизиты для заключения договора
		+e.FORM(name="subscribe" action="POST").form
			+e.INPUT.form--form-control.form--name#name(placeholder="Контактное лицо (ФИО, должность)" type="text" name="name" )
			+e.INPUT.form--form-control.form--email#email(placeholder="email для регистрации юр.лица" type="email" 
			name="email")
			+e.INPUT.form--form-control.form--tel#tel(placeholder="Телефон" type="number" name="tel" )
			+e.INPUT.form--form-control.form--organization#organization(placeholder="Наименование организации" type="text" 
			name="email")
			+e.INPUT.form--form-control.form--id_number#id_number(placeholder="ИНН/КПП" type="number" name="id_number" )
			+e.INPUT.form--form-control.form--requisites#requisites(placeholder="Банковские реквизиты" type="text" 
			name="requisites")
			+CreateButton('','Отправить реквизиты для договора', 'action-btn partnership-action')
			+e.SPAN.form--error
