include /mixins/main_mixins
-var item = {title:'XIV Церемония вручения Национальной премии в области индустрии моды «Золотое веретено-2016»', date:'22 декабря 2016', image:'assets/images/post_image.webp', content:['XIV Церемония вручения Национальной премии в области индустрии моды «Золотое веретено-2016» состоится 20 февраля в Москве в рамках «Российской недели текстильной и легкой промышленности», где на одной площадке будут объединены ведущие выставки рынка легкой промышленности, проходящие в России.','Насыщенная деловая программа, которая будет представлена сразу на нескольких коммуникационных площадках «Экспоцентра», будет включать в себя ежегодную серию конференций, круглых столов, мастер-классов, семинаров и пленарных заседаний по основным направлениям развития отечественного легпрома. Таким образом, в 2016 году номинантам премии представляется возможность получить награду на крупнейшей выставочной площадке рынка легкой промышленности России.','Учредители премии и организаторы церемонии её вручения — Министерство промышленности и торговли Российской Федерации, Торгово-промышленная палата Российской Федерации, Национальная академия индустрии моды (НАИМ), российский Союз предпринимателей текстильной и легкой промышленности (Союзлегпром).','Официальный символ премии — статуэтка «Золотое веретено». Статуэтка выполнена из серебра с золотым напылением в виде стилизованного веретена — одного из древнейших символов текстильного производства.','Кроме официального символа Национальной премии в области индустрии моды -статуэтки «Золотое веретено», во время церемонии вручаются специальные награды НАИМ:«Золотая пальма» — «За вклад в развитие российской индустрии моды» и «Хрустальная пальма» — «За вклад в подготовку кадров отечественной индустрии моды».','Национальная премия в области индустрии моды «Золотое веретено» — главная премия в российской индустрии моды, знак признания, который за годы своего существования стал уважаемой и желанной наградой. Это ежегодная оценка наивысших профессиональных достижений в сфере формирования и развития индустрии моды в России. Задачи премии: содействие развитию отечественной индустрии моды, российской текстильной и легкой промышленности, популяризация отечественных брендов, повышение конкурентоспособности отечественной индустрии моды и дизайна на внутреннем и международных рынках, поддержка молодых и талантливых специалистов в области дизайна, производства, науки и образования.','Лауреатами Национальной премии в области индустрии моды в различных номинациях и обладателями «Золотого веретена» становятся предприятия текстильной и легкой промышленности России, Дома моды, дизайн-бюро, российские модельеры и дизайнеры, сотрудники компаний и производств, торговые организации и журналисты, чья профессиональная деятельность способствует всестороннему развитию индустрии моды России'],className:'post-card'}



-var i = 0
.container-fluid
	.row.blog-wrapper.clearfix
		.main-posts-wrapper
			.new-posts#posts
				while i < 15
					+CreatePostCard(item.title, item.date, item.image, item.content[0], item.className)
					-i++
		include /components/posts-sidebar/posts-sidebar


