.seo-wrapper
	background-color #fff
	.content
		padding 10px 0
		&__heading
			padding 10px 0
			font-size 18px
		&__content
			padding 10px 0
			color $light-gray
			
@media (max-width 791px)
	.seo-wrapper
		.content
			padding 10px 20px