include /mixins/main_mixins

-var seo = {title:'Каталог тканей «Основа»: только последние тренды и современный взгляд', content:'Комбинат «Основа» - это современное молодое предприятие, идущее не престо в ногу со временем, а задающее темп этому шагу. Мы в тренде, мы и есть тренд: Мы современное производство с новейшими вязальными,  печатными, сушильно-стабилизационными  машинами. Мы выпускаем современный экологичный материал для современной активной жизни. Мы -  талантливые молодые художники – студенты и выпускники  Высших учебных заведений, среди которых регулярно проводятся конкурсы на лучшие и оригинальные идеи для дизайнов тканей. Мы новое веяние в текстильной промышленности.'}
- var i = 0
.container-fluid.seo-wrapper
	.row
		+b.content
			while i < 3
				+CreateSeo(seo.title, seo.content)
				-i++
