include /mixins/main_mixins
-var detailed_description = {title:'ВНИМАНИЕ! В АКЦИЯХ ПРИНИМАЮТ УЧАСТИЕ ТОЛЬКО ПАРТНЕРЫ КОМБИНАТА "ОСНОВА"', content:['Леруа мерлен, Лента, Посуда Центр, Hoff, Х5 Retail Group уже являются партнерами концерна "Протекс".','Мы планируем в ближайшее время заключить контракты с Икеа, М Видео, Газпром, Метро.','Становитесь и Вы нашим партнером!','- Наши партнеры участвуют во всех акциях и кампаниях,  проводимых концерном «Протекс»;','- Наши партнеры первыми получают каталоги с новыми дизайнами тканей;','- Наши партнеры имеют Личный кабинет на сайте,  что ускоряет процедуру оформления заказа.'] }
.discounts-page
.discounts-wrapper.container-fluid
	.row
		h2 АКЦИИ, СКИДКИ, СУПЕР РАСПРОДАЖА
		+b.cards-row
			+CreateLightbox('/assets/images/item.jpg', 3, 'discounts-lightboxes','cards-row', 'ДИЗАЙН-СТУДИЯ', 'Вы не смогли подобрать подходящий рисунок, мы предлагаем вам на специальных условиях патнеров воспользоваться услугами нашей дизайн-студии','Вы не смогли подобрать подходящий рисунок, мы предлагаем вам на специальных условиях патнеров воспользоваться услугами нашей дизайн-студии')

.detailed-description
	+CreateLegend(detailed_description.title, detailed_description.content, 'discounts-legend')
