include /mixins/main_mixins
-var select = ['Новейшие','Цена (низкая - высокая)','Цена (высокая - низкая)','Название А-Я','Название Я-А']
-var i = 0
.select.clearfix
	#current_page Сортировка <i class="icon-down-angle"></i>
	#current_menu
		+b.UL.select-wrapper
			each el, i in select
				+e.LI.item
					+e.A(value = el) #{el}
.cards-wrapper.clearfix
	while i < 20
		+CreateClothItem('Бридж', 'assets/images/cloths-image.jpg', 'item.html', 'Хит','hot')
		-i++