.delivery-wrapper
	margin-top 160px
	background-color #fff
	padding 15px
	&__heading, &__subheading
		text-align center
	&__heading
		color $gold
		font-size 22px
		text-transform uppercase
		font-weight 300
	&__subheading
		margin 20px 0
		font-size 24px
		color $dark-gray
	&__content
		color $dark-gray
		font-size 22px
		text-align justify
	.calculators
		&__row
			margin 50px 0
			display flex
			justify-content  space-around
			flex-wrap wrap
		.action-btn
			display block
			max-width 300px
			margin 0 auto
			background-color #fff
			color $gold
			border 1px solid $gold
			&:hover
				color #fff
				background-color $gold