include /mixins/main_mixins

-var legends = {first:{title:'«Детали — это не мелочи.Они и есть дизайн».', content:['Комбинат «Основа» входит в концерн «Протекс», основанный в 2009 году и расположен в технопарке г. Родники Ивановской области. Это современное предприятие для серийного производства флисового трикотажного полотна с последующей отделкой для изготовления текстильной продукции. На комбинате Вы можете купить ткани для изготовления покрывал, пледов, одеял, подкладочных материалов, спортивной одежды, детских вещей, мебели и игрушек. Комбинат «Основа» - это современное молодое предприятие, идущее не престо в ногу со временем, а задающее темп этому шагу. Мы в тренде, мы и есть тренд: Мы современное производство с новейшими вязальными, печатными, сушильно-стабилизационными машинами. Мы выпускаем современный экологичный материал для современной активной жизни. Мы - талантливые молодые художники – студенты и выпускники Высших учебных заведений, среди которых регулярно проводятся конкурсы на лучшие и оригинальные идеи для дизайнов тканей. Мы новое веяние в текстильной промышленности.'], author:'- Чарльз Имз -'}, second:{title:'Air Soft', content:['К свойствам флиса можно отнести хорошую проветриваемость, эластичность, неплохую теплоизоляцию, легкость. Флис можно стирать в стиральной машинке, он почти мгновенно сохнет, причем сохраняет свои теплоизоляционные свойства даже в мокром состоянии, не нуждается в глажке, довольно прочный и устойчивый к стиранию, не вызывает раздражение на коже и аллергию, хорошо сжимаем (можно упаковать в небольшой пакет), пушистый и приятный на ощупь, удобен в носке. Флис под торговой маркой Air Soft - это нежнейший на ощупь флис с двусторонним длинным ворсом. Новая конструкция полотна содержит еще больше воздуха, который является лучшим природным теплоизолятором. Благодаря этому флис помогает сохранять естественную температуру Вашего тела, даря Вам комфорт! Не жарко в летний зной, тепло зимними вечерами. Изделия получаются необычайно легкие, прочные, специальная обработка придает им невероятную мягкость, а также приятный блеск. Особый способ окрашивания делает варианты дизайнов разнообразными и многоцветными, не позволяет им тускнеть - даже спустя большое количество стирок — изделия не полиняют, останутся яркими и нежными.']}}


.container-fluid
	.legend
		.row
			+CreateLegend(legends.first.title, legends.first.content, 'about-legend' , legends.first.author)

	.legend
		.row
			+CreateLegend(legends.second.title, legends.second.content, 'about-legend', '' )