.subscribe-wrapper
	width 60%
	margin 40px auto 100px
	border 3px solid #333
	background-color #fff
	padding 20px 
	z-index 1
	
	&__heading
		color $lighter-gray
		font-size 18px
		padding-bottom 30px
	&__form
		position relative
		&--form-control
			width 100%
			background-color #C7C5C5
			height 36px
			margin-top 25px
			border 1px solid #333
			padding 5px 10px
		&--form-control::placeholder
			color $dark-gray
			font-family 'eb garamond', serif
			font-size 18px
		
	.error
		
		font-weight 600
		color red
		
	.action-btn
		width 100%
		display block

@media( max-width 1199px)
	.subscribe-wrapper
		width 100%
		text-align center
		margin 40px 0