+b.VIDEO(poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop).video-container
	+e.SOURCE(src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm").video
	+e.SOURCE(src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4").video