+b.VIDEO(id="bgvid" playsinline autoplay muted loop).video-container
	
	+e.SOURCE(src="http://video.wixstatic.com/video/01087d_df3eb6a0285b437899e7e61fbd5bd8eb/720p/mp4/file.mp4" type="video/mp4").video