include /assets/bemto/bemto

doctype html
html(lang="zxx")
	title Акции, скидка, распродажа на ткани комбината Основа
	include /components/head/head
	
	body
		.parallax-container(data-image-src="assets/images/bg_cloth.webp")
		include /components/navbar/navbar
		include /components/delivery-wrapper/delivery-wrapper
		include /components/footer/footer
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="assets/scripts/bundle.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
		script.
			WebFont.load({
				google: {
					families: [ 'Marck+Script:400,700:latin', 'Kelly+Slab:400,600,400italic,700italic,700:latin']
				}
			});