include /assets/bemto/bemto

doctype html
html(lang="zxx")
	title Ткани российского производителя КОМБИНАТ ОСНОВА
	include /components/head/head
	body
		.parallax-container(data-image-src="assets/images/bg_cloth.webp")
		include /components/navbar/navbar
		include /components/main-lightbox/main-lightbox
		include /components/new-items/new-items
		include /components/discounts-lightbox/discounts-lightbox
		include /components/main-news/main-news
		include /components/subscribe/subscribe
		include /components/seo-text/seo-text
		include /components/footer/footer
		script(src="assets/scripts/bundle.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
		script.
			WebFont.load({
				google: {
					families: [ 'Marck+Script:400,700:latin', 'Kelly+Slab:400,600,400italic,700italic,700:latin']
				}
			});
