include /assets/bemto/bemto

doctype html
html(lang="zxx")
	title Комбинат флисового полотна ОСНОВА
	include /components/head/head
	body
		#fb-root
		script.
			(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId=513708105494020";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

		script.
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId=513708105494020";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
		.parallax-container(data-image-src="assets/images/bg_cloth.webp")
		include /components/navbar/navbar
		include /components/post-wrapper/post-wrapper
		include /components/footer/footer
		
		script(src="assets/scripts/bundle.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
		script.
			WebFont.load({
				google: {
					families: [ 'Marck+Script:400,700:latin', 'Kelly+Slab:400,600,400italic,700italic,700:latin']
				}
			});
		script(type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js")
		script(src="https://apis.google.com/js/platform.js" async defer).
			{lang: 'ru'}