.socials
	margin 20px
	display flex
	justify-content flex-start
	&__icon
		margin 0 20px
		&.facebook
			margin-top -1px
		&.favorite
			font-size 30px
			margin-top -10px
			float right
			.love
				color black
				vertical-align top
			
			.active
				color red