include /mixins/main_mixins
-var cloths_legend = ['Ткани российского производителя - комбинат ОСНОВА. Интернет-магазин тканей включает в себя все  действующие каталоги тканей. Вы  можете заказать ткань из выбывших коллекций или собственный уникальный дизайн тканей для постельного белья. Сатин и Перкаль великолепных расценок с высоким качеством окрашивания от комбината "Основа" - залог успеха ваших лучших  швейных изделий.']
.container-fluid.cloths
	.row
		+CreateLegend(null, cloths_legend, 'cloths-legend')
		.border
		