@import '../login/login'

.navbar
	padding  0 0 28px
	position fixed
	top 0
	z-index 999
	background-color rgba(255,255,255,0.6)
	box-shadow 0 0 5px rgba(0, 0, 0, 0.7)
	border-top 0px solid rgba(47, 46, 46, 1)
	border-bottom 0px solid rgba(47, 46, 46, 1)
	a:focus
		outline none
	.login
		text-decoration none
		float right
		cursor pointer
		font-size 18px
		color $light-gray
		position relative
		&:hover 
			color $light-gold
			
		&__me
			text-decoration none
			color $light-gray
			&:hover
				color $light-gold			
	.logo
		float left    	
		padding-top 5px
    	
	.heading
		width 90%
		display block
		margin 10px auto 0
		float left
		font-weight 100
		color $dark-gray
		margin-right 20px
		white-space normal
		text-align center
		font-size 27px
	
	.nav
		width 100%
		list-style none
		display flex
		justify-content space-between
		position relative
		&__element
			border-left 1px solid $gold
			padding-left 15px
			&--href
				font-size 22px
				text-decoration none
				color $light-gold
				transition .4s ease all
				&.active 
					color $light-gray
			a:hover
				color #4A410D
		&__element:first-child,&__element:nth-child(2),&__element:nth-child(3) 
			border none
			
		&__element.icon-basket
			position absolute
			right 0
			top -73px
			&:before
				color $gold
				font-size 40px
			&--href
				
				position relative
			
			.nav__element--href--text
					display none
			.nav__element--href--goods-count
					font-size 18px
					position absolute
					top 14px
					left 27px
					color #fff
					font-size 16px
					font-family 'eb garamond'
			
		&__element.lg-hidden
			display none
			border-left none
			
		
			
@media (max-width 1199px)
	.navbar
		padding 0
		.login, .basket
			display none
		.heading
			line-height 110px
			font-size 27px
			float none
			width 100%
		.button-wrapper
			width 40px
			height 40px
			position fixed
			display inline-block
			transition .4s ease all
			z-index 9998888888888
			right 5px
			top 0px 
			position absolute
			transform rotate(0deg)
			transition .5s ease-in-out
			cursor pointer
			&__button
				
				&--horizontal-line
					position absolute
					display block
					width 40px
					height 3px
					border 1px solid transparent
					border-radius 12px
					background-color $light-gold
					margin 10px 0
					transition .4s ease all
				&--horizontal-line:nth-child(1)
					top 0
				&--horizontal-line:nth-child(2)
					top 10px
				&--horizontal-line:nth-child(3)
					top 20px
		.button-wrapper.active
			
			.button-wrapper__button
				&--horizontal-line
					background-color #D2014E
				&--horizontal-line:nth-child(1) 
					top 9px
					transform rotate(135deg)
				&--horizontal-line:nth-child(2) 
					opacity 0
					
				&--horizontal-line:nth-child(3)
					top 9px
					transform rotate(-135deg);
			
		.nav.side-right
			width 260px
			right -260px
			display block
			position fixed
			top 0
			height 100%
			z-index 999999
			overflow-x hidden
			overflow-y auto
			background rgba(255,255,255 1)
			color #fff
			font-style italic
			transition .4s ease all
			box-shadow 0 0 5px rgba(0, 0, 0, 0.7)
			border-left 0px solid rgba(47, 46, 46, 1)
		.nav.side-right.open
			transform translateX(-260px)
			background-color #EDE9D9
		.nav
			
			&__element, &__element:first-child
			
				border none 
				border-bottom 1px solid #f4f4f4 !important
			&__element.lg-hidden
				display block
				&:hover .login1 a 
					color $gray
				.login1
					display inline-block
					&:hover .me
						color $light-gray
					a
						text-decoration none
						font-size 16px
						color $light-gold
						padding-right  10px
					
					span
						cursor pointer
					
			&__element.xs-hidden
				display none
			&__element:hover
				color $gray
				background-color #fff
			&__element:hover > a
				color $gray
				
				
			&__element
				padding 10px
				color $light-gold
				&--href
					position relative
					&--text
						font-style italic 
					
					
				
			&__element:hover
				color #4a410d
			
			&__element.icon-basket
				position initial
				
				.nav__element--href--text
					display inline-block
				.nav__element--href--goods-count
					top 2px
					left -17px

		
			&__element.icon-basket > &--href
				font-style italic
			&__element.icon-basket:before
				font-size 30px	
			
					 
@media (max-width 991px)
	.navbar
		.heading
			margin-top 25px
			line-height initial	
@media (max-width 767px)
	.navbar
		.heading
			line-height 110px
			margin-top 0
			.heading-sub
				display none
				
@media (max-width 480px)
	.navbar
		.heading
			font-size 24px
