.footer-container
	
	margin-top 20px
	background-color #fff
	text-align center
	color $gold
	font-family 'basic' ,sans-serif
	font-style italic
	padding 10px 0
	.container
		border-top 1px solid $gold
		border-bottom 1px solid $gold
		.footer
			margin 40px auto
			font-size 18px
			&__heading
				padding-bottom 10px
				
	
	
	