.footer-container.contaier-fluid
	.container
		+b.footer.row
			+e.heading © 2017 Комбинат  флисового полотна "ОСНОВА"
			+e.tel тел. + 7 (920) 369-08-27
			+e.email info@osnova37.ru
			+e.address производство:      Россия, г. Родники, ул. Советская, д. 20
			+e.shop фирменный магазин:  г. Иваново, ул. Сосновая, 16 б, лит 1