.cloths
	background-color #fff
	.cloths-legend
		width 72%
		text-align justify
		margin 0 auto
		padding 70px 0
		font-size 18px
		color $light-gray
	.border
		width 25%
		margin 0 auto
		border-bottom 1px solid $light-gold

@media(max-width 791px)
	.cloths
		.cloths-legend
			width 90%
		