#forgot-password.container-fluid.form-wrapper.zoom-anim-dialog.mfp-hide
	.row
		+b.P.title Смена пароля <br> <span class="subtitle">Пожалуйста, введите ваш email</span>
		+b.FORM(action="" method="post" novalidate).forgot-form.form#change-form
			+e.INPUT(type="email" placeholder="Email" name="email").form-control#email
			+e.SPAN.error
			+CreateActionButton('OK', 'action-btn', 'submit')
