#forgot-password.container-fluid.form-wrapper.zoom-anim-dialog.mfp-hide
	.row
		+b.P.title Смена пароля <br> <span class="subtitle">Пожалуйста, введите ваш email</span>
		+b.FORM(action="POST" ).forgot-form.form
			+e.INPUT(type="email" placeholder="Email").form-control
			+e.SPAN.error
			+CreateButton('', 'OK', 'action-btn')
