.change-wrapper
	margin-top 165px
	.title
		margin-top 40px
		text-align center
		text-transform uppercase
		font-size 30px
		font-family Arial
	.change-form
		@extends .form-wrapper .row .login-form
		max-width 600px
		margin 0 auto
		.error
			
			font-family 'Helvetica'