@import '../../components/main_lightbox/main_lightbox.styl'
@import '../../components/new-items/new-items.styl'
@import '../../components/discounts_lightbox/discounts_lightbox.styl'
@import '../../components/main_news/main_news.styl'
@import '../../components/subscribe/subscribe.styl'
@import '../../components/seo_text/seo_text.styl'
@import '../../components/footer/footer.styl'
