@import '../../components/main-lightbox/main-lightbox.styl'
@import '../../components/new-items/new-items.styl'
@import '../../components/discounts-lightbox/discounts-lightbox.styl'
@import '../../components/main-news/main-news.styl'
@import '../../components/subscribe/subscribe.styl'
@import '../../components/seo-text/seo-text.styl'
@import '../../components/footer/footer.styl'
